SanteDB.BI/Schema/BusinessIntelligence.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 - Based on OpenIZ, Copyright (C) 2015 - 2019 Mohawk College of Applied Arts and Technology
 - Copyright (C) 2019 - 2020, Fyfe Software Inc. and the SanteSuite Contributors (See NOTICE.md)
 - 
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: fyfej
 - Date: 2019-11-27
 -->
<xs:schema xmlns:tns="http://santedb.org/bi" elementFormDefault="qualified" targetNamespace="http://santedb.org/bi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="xhtml.xsd" namespace="http://www.w3.org/1999/xhtml" />
  <xs:complexType name="BiAggregationDefinition">
    <xs:complexContent mixed="true">
      <xs:extension base="tns:BiSqlDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="grouping" type="tns:ArrayOfBiSqlColumnReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="select" type="tns:ArrayOfBiAggregateSqlColumnReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiSqlDefinition" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="providers" type="tns:ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invariant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiSqlColumnReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="column" nillable="true" type="tns:BiSqlColumnReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiSqlColumnReference">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BiAggregateSqlColumnReference">
    <xs:simpleContent>
      <xs:extension base="tns:BiSqlColumnReference">
        <xs:attribute name="fn" type="tns:BiAggregateFunction" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="BiAggregateFunction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="value" />
      <xs:enumeration value="min" />
      <xs:enumeration value="max" />
      <xs:enumeration value="first" />
      <xs:enumeration value="last" />
      <xs:enumeration value="count" />
      <xs:enumeration value="count-distinct" />
      <xs:enumeration value="avg" />
      <xs:enumeration value="sum" />
      <xs:enumeration value="median" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfBiAggregateSqlColumnReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="column" nillable="true" type="tns:BiAggregateSqlColumnReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiAnnotation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q1="http://www.w3.org/1999/xhtml" ref="q1:div" />
    </xs:sequence>
    <xs:attribute name="lang" type="xs:string" />
  </xs:complexType>
  <xs:element name="BiDataSourceDefinition" nillable="true" type="tns:BiDataSourceDefinition" />
  <xs:complexType name="BiDataSourceDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:attribute name="provider" type="xs:string" />
        <xs:attribute name="connectionString" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDefinition" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="meta" type="tns:BiMetadata" />
      <xs:element minOccurs="0" maxOccurs="1" name="identifier" type="tns:BiIdentity" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="ref" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BiMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="authors" type="tns:ArrayOfString1" />
      <xs:element minOccurs="0" maxOccurs="1" name="annotation" type="tns:BiAnnotation" />
      <xs:element minOccurs="0" maxOccurs="1" name="policies" type="tns:ArrayOfString2" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" />
    <xs:attribute name="status" type="tns:BiDefinitionStatus" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="demand" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BiDefinitionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="new" />
      <xs:enumeration value="draft" />
      <xs:enumeration value="in-review" />
      <xs:enumeration value="active" />
      <xs:enumeration value="deprecated" />
      <xs:enumeration value="obsolete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BiIdentity">
    <xs:attribute name="system" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="BisParameterDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ref" />
      <xs:enumeration value="uuid" />
      <xs:enumeration value="string" />
      <xs:enumeration value="int" />
      <xs:enumeration value="bool" />
      <xs:enumeration value="date" />
      <xs:enumeration value="date-time" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BiParameterDefinition" nillable="true" type="tns:BiParameterDefinition" />
  <xs:complexType name="BiParameterDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:BiQueryDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="values" type="tns:BiParameterValueCollection" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="type" type="tns:BisParameterDataType" use="required" />
        <xs:attribute name="min" type="xs:string" />
        <xs:attribute name="max" type="xs:string" />
        <xs:attribute name="default" type="xs:string" />
        <xs:attribute name="required" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiQueryDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dataSources" type="tns:ArrayOfBiDataSourceDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfBiParameterDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="tns:ArrayOfBiSqlDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiDataSourceDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiDataSourceDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiParameterDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiParameterDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiSqlDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiSqlDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiParameterValueCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:BisParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BisParameterValue">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="BiQueryDefinition" nillable="true" type="tns:BiQueryDefinition" />
  <xs:element name="BiRenderFormatDefinition" nillable="true" type="tns:BiRenderFormatDefinition" />
  <xs:complexType name="BiRenderFormatDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:attribute name="extension" type="xs:string" />
        <xs:attribute name="contentType" type="xs:string" />
        <xs:attribute name="renderer" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BiReportDefinition" nillable="true" type="tns:BiReportDefinition" />
  <xs:complexType name="BiReportDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dataSources" type="tns:ArrayOfChoice1" />
          <xs:element minOccurs="0" maxOccurs="1" name="views" type="tns:ArrayOfBiReportViewDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="view" nillable="true" type="tns:BiViewDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="query" nillable="true" type="tns:BiQueryDefinition" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BiViewDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:BiQueryDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="aggregations" type="tns:ArrayOfBiAggregationDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="pivot" type="tns:BiViewPivotDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiAggregationDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiAggregationDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiViewPivotDefinition">
    <xs:attribute name="key" type="xs:string" />
    <xs:attribute name="columnDef" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
    <xs:attribute name="fn" type="tns:BiAggregateFunction" use="required" />
  </xs:complexType>
  <xs:complexType name="ArrayOfBiReportViewDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiReportViewDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiReportViewDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q2="http://www.w3.org/1999/xhtml" ref="q2:div" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BiSqlDefinition" nillable="true" type="tns:BiSqlDefinition" />
  <xs:element name="BiReportViewDefinition" nillable="true" type="tns:BiReportViewDefinition" />
  <xs:element name="BiPackage" nillable="true" type="tns:BiPackage" />
  <xs:complexType name="BiPackage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="sources" type="tns:ArrayOfBiDataSourceDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="formats" type="tns:ArrayOfBiRenderFormatDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfBiParameterDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="queries" type="tns:ArrayOfBiQueryDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="views" type="tns:ArrayOfBiViewDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="reports" type="tns:ArrayOfBiReportDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiRenderFormatDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiRenderFormatDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiQueryDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiQueryDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiViewDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiViewDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiReportDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiReportDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiViewDefinition" nillable="true" type="tns:BiViewDefinition" />
</xs:schema>